.advantages {
}

.advantages__list {
  background-color: #f2f2f2;
}

.advantages__list-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 45px 20px;
}

.advantages__title {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.advantages__list-text {
  margin: 0;
  padding: 0;
}

.advantages__slogan {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #000000;
}

.advantages__description {
  text-align: center;
}

.advantages__item-image {
  min-height: 280px;
  background-image: url("../img/iphone-screen-mobile@1x-min.png");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantages__additional-item {
  display: none;
}

.advantages__additional-item-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 45px 20px;
}


@media (min-width: $tablet-width) {
  .advantages {
  }

  .advantages__title {
    font-size: 40px;
    line-height: 50px;
    min-height: 240px;
  }

  .advantages__list-wrapper{
    display: flex;
    width: 620px;
    min-height: 490px;
  }

  .advantages__list-text {
    width: 310px;
    order: 2;
  }

  .advantages__slogan {
    text-align: left;
  }

  .advantages__description {
    text-align: left;
  }

  .advantages__item-image {
    width: 300px;
    background-image: url("../img/iphone-screen-tablet-3@1x-min.png");
  }

  .advantages__additional-item {
    display: block;
  }

  .advantages__additional-item-wrapper {
    width: 620px;
    display: flex;
  }

  .advantages__additional-text-wrapper {
    padding: 10px;
    width: 320px;
  }

  .advantages__additional-image {
    margin: 0;
  }

  .advantages__additional-slogan {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .advantages__additional-link {
    color: $pink;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
  }

  .advantages__title {
    font-size: 50px;
    line-height: 60px;
    min-height: 320px;
  }

  .advantages__list-wrapper{
    width: 940px;
    min-height: 580px;
  }

  .advantages__list-text {
    display: flex;
    justify-content: space-between;
    width: 940px;
  }

  .advantages__item {
    width: 300px;
  }

  .advantages__item:nth-child(1)::before {
    content: "";
    position: absolute;
//    left: -40px;
//    top: -1px;

    width: 292px;
    height: 302px;

    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .advantages__item:nth-child(2)::before {
    content: "";
    position: absolute;
//    left: -40px;
//    top: -1px;

    width: 292px;
    height: 302px;

    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .advantages__item:nth-child(3)::before {
    content: "";
    position: absolute;
//    left: -40px;
//    top: -1px;

    width: 292px;
    height: 302px;

    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .advantages__slogan {
    margin-top: 360px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__item-image {
    display: none;
  }

  .advantages__additional-item {
    background-color: #f2f2f2;
  }

  .advantages__additional-item-wrapper {
    width: 940px;
    min-height: 450px;
  }

  .advantages__additional-text-wrapper {
    width: 600px;
  }

  .advantages__additional-slogan {
    line-height: 30px;
  }

  .advantages__additional-description {
    font-size: 18px;
    line-height: 30px;
  }

  .advantages__additional-link {
    font-size: 18px;
    line-height: 30px;
  }
}


