.contacts__wrapper {
  padding: 50px 20px 45px;
}

.contacts__list {
  margin: 0;
  padding: 0;
}

.contacts__title {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.contacts__item {
  text-align: center;
}

.contacts__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__text {
  font-weight: lighter;
  font-size: 24px;
  line-height: 30px;
  color: $pink;
}

.contacts__e-mail {
  &:hover,
  &:focus {
    color: $bgray;
    text-decoration: underline;
  }
  &:active {
    color: rgba($bgray, 0.3);
    text-decoration: none;
  }
}
