.download-block__banner {
  min-height: 400px;
  margin-left: -60px;
  background-image: url("../img/iphone-hand-mobile@1x-min.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.download-block__container {
  padding: 30px 20px;
  min-height: 230px;
  background-color: #1d2631;
}

.download-block__title {
  display: none;
}

.download-block__button {
  margin-bottom: 30px;
  color: #ffffff;

  &:hover,
  &:focus {
    color: $pink;

    background-color: #ffffff;
  }
  &:active {
    color: #f1becc;

    background-color: #ffffff;
  }
}

.download-block__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 25px;
  padding: 0;
  width: 205px;
  height: 60px;
}

.download-block__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-block__link {
  margin-top: auto;
  background-repeat: no-repeat;
  background-position: center 0;
}

.download-block__link--ios {
  width: 46px;
  height: 57px;
  //background-image: url("../img/logo-apple.svg");
}

.download-block__link--android {
  width: 42px;
  height: 48px;
 // background-image: url("../img/logo-android.svg");
  fill: #a4c639;
}

.download-block__link--windows {
  width: 44px;
  height: 42px;
  //background-image: url("../img/logo-microsoft.svg");
}

.download-block__description {
  margin: 0 auto;
  width: 280px;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .download-block {
    display: flex;
    width: 620px;
    margin: 0 auto;
  }

  .download-block__banner {
    margin-left: -30px;
    min-height: 620px;
    flex-grow: 1;
    background-image: url("../img/iphone-hand-tablet@1x-min.png");
    order: 2;
  }

  .download-block__container {
    position: absolute;
    width: 300px;
    min-height: 620px;
    background-color: transparent;
  }

  .download-block__title {
    display: block;
    font-weight: lighter;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .download-block {
    width: 940px;
  }

  .download-block__banner {
    margin-left: 80px;
    min-height: 740px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
  }

  .download-block__container {
    min-height: 740px;
  }
}
