.form-contacts__label {
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
}

.form-contacts__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $bgray;
  border: 2px solid #e5e5e5;
  outline: none;
  &:hover {
    border-color: $bgray;
  }
  &:focus,
  &:active {
    border-color: $pink;
  }
}

.form-contacts__legend {
  display: none;
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
}
