.main-form__description {
  padding: 50px 20px;
  line-height: 30px;
  text-align: center;
}

.main-form__additional-description {
  display: none;
}

.main-form__form-block {
  margin: 0;
  padding: 20px;
  border: 0;
}

.main-form__legend {
  line-height: 18px;
  color: $pink;
  text-transform: uppercase;
  text-align: center;
}

.visitor-fname__label,
.visitor-contacts__label {
  line-height: 30px;
  color: $pink;
  text-transform: uppercase;
}

.visitor-fname__input,
.visitor-contacts__input,
.visitor-emotions__textarea {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $bgray;
}

.visitor-contacts__legend {
  display: none;
}

.visitor-achievements {
  background-color: #f2f2f2;
}

.visitor-gadget {
  background-color: #f2f2f2;
}

.visitor-achievements__label,
.visitor-gadget__input {
  font-size: 18px;
  line-height: 30px;
}

.main-form__button {
  line-height: 30px;
  color: #ffffff;

  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  &:hover,
  &:focus {
    background-color: #1c9b5e;
  }
  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

.main-form__button--disabled {
  &,
  &:hover,
  &:focus,
  &:active {
    color: #ffffff;

    background-color: #e5e5e5;
  }
}

.main-form__required {
  line-height: 30px;
  text-transform: uppercase;
}

.main-form__required-colored {
  color: $pink;
}
