.photo-gallery {
  padding: 55px 20px;
  background-color: #f2f2f2;
}

.photo-gallery__description {
  line-height: 30px;
  text-align: center;
}

.photo-gallery__author-name {
  font-weight: 700;
  line-height: 30px;
}

.photo-gallery__author-time {
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-gallery__likes-count {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}

.photo-gallery__slogan {
  padding: 50px 20px;
}

.photo-gallery__slogan-text {
  line-height: 30px;
  text-align: center;
}

.photo-gallery__upload {
  padding: 20px;
  background-color: #f2f2f2;
}

.upload__button {
  color: #d22856;
  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #d22856;
  }
  &:active {
    color: rgba(#ffffff, 0.3);

    background-color: #d22856;
  }
}

.upload__button--cancel {
  color: rgba(#283645, 0.1);
  &:hover,
  &:focus {
    color: rgba(#283645, 0.3);

    background-color: #ffffff;
  }
  &:active {
    color: rgba(#ffffff, 0.3);

    background-color: rgba(#283645, 0.3);
  }
}
