.photo-gallery {

}

.photo-gallery__description {
  margin: 0 auto;
  width: 280px;
  min-height: 185px;
  line-height: 30px;
  text-align: center;
}

.photo-gallery__main-wrapper {
  margin: 0 auto;
  width: 280px;
}

.photo-gallery__item-wrapper {
  width: 280px;
  min-height: 320px;
}

.photo-gallery__wrapper-photo-day {
  min-height: 330px;
}

.photo-gallery__author-name {
  font-weight: 700;
  line-height: 30px;
}

.photo-gallery__author-time {
  font-weight: lighter;
  font-size: 12px;
  text-transform: uppercase;
}

.photo-gallery__likes-count {
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
}

.photo-gallery__slogan {
  margin: 0 auto;
  width: 280px;
  min-height: 170px;
}

.photo-gallery__slogan-text {
  line-height: 30px;
  text-align: center;
}

.photo-gallery__upload {
  background-color: #f2f2f2;
  min-height: 760px;
}

@media (min-width: $tablet-width) {
  .photo-gallery__description {
    width: 620px;
    min-height: 230px;
    font-size: 18px;
  }

  .photo-gallery__main-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }

  .photo-gallery__item-wrapper {
    width: 300px;
    min-height: 460px;
  }

  .photo-gallery__wrapper-photo-day {
    width : 620px;
    min-height: 635px;
  }

  .photo-gallery__slogan {
    width: 620px;
    min-height: 195px;
  }

  .photo-gallery__upload {
    min-height: 515px;
  }
}


@media (min-width: $desktop-width) {
  .photo-gallery__description {
    width: 940px;
    min-height: 240px;
  }

  .photo-gallery__main-wrapper {
    width: 940px;
  }

  .photo-gallery__item-wrapper {
    min-height: 555px;
  }

  .photo-gallery__wrapper-photo-day {
    width : 940px;
    min-height: 600px;
  }

  .photo-gallery__slogan {
    width: 940px;
    min-height: 190px;
  }

  .photo-gallery__upload {

  }
}
