
.upload__form {
  margin: 0 auto;
  width: 280px;
  min-height: 700px;
}

.upload__adjustments-list {
  margin: 0;
  padding: 0;
}

.upload__adjustments-item {
  width: 275px;
  text-align: center;
}

.upload__adjustments-item--hide {
  display: none;
}

.upload__adjustments-item input {
  width: 240px;
}

.upload__button {
  color: #d22856;
  &:hover,
  &:focus {
    color: #ffffff;

    background-color: #d22856;
  }
  &:active {
    color: rgba(#ffffff, 0.3);

    background-color: #d22856;
  }
}

.upload__button--cancel {
  color: rgba(#283645, 0.1);
  &:hover,
  &:focus {
    color: rgba(#283645, 0.3);

    background-color: #ffffff;
  }
  &:active {
    color: rgba(#ffffff, 0.3);

    background-color: rgba(#283645, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .upload__form {
    display: flex;
    width: 620px;
    min-height: 400px;
  }

  .upload__adjustments-item {
    display: block;
    width: 275px;
    text-align: right;
  }

  .upload__adjustments-item input {
    width: 200px;
  }

  .upload__button {
    width: 255px;
  }
}


@media (min-width: $desktop-width) {
  .upload__form {
    width: 800px;
    min-height: 400px;
  }

  .upload {
    margin: 0 auto;
    width: 940px;
    min-height: 520px;
  }

  .upload__adjustments-list {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
  }

  .upload__adjustments-item {
    width: 410px;
  }

  .upload__adjustments-item input {
    width: 290px;
  }

  .upload__adjustments-item--button {
    width: 185px;
  }

  .upload__button {
    width: 180px;
  }
}
